@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-index {
    z-index: -1;
  }
  .max-w-screen-sm {
    max-width: 640px;
  }

  .max-w-screen-md {
    max-width: 768px;
  }

  .max-w-screen-lg {
    max-width: 1024px;
  }

  .max-w-screen-xl {
    max-width: 1280px;
  }

  .max-w-screen-2xl {
    max-width: 1536px;
  }

  .min-w-screen-sm {
    min-width: 640px;
  }

  .min-w-screen-md {
    min-width: 768px;
  }

  .min-w-screen-lg {
    min-width: 1024px;
  }

  .min-w-screen-xl {
    min-width: 1280px;
  }

  .min-w-screen-2xl {
    min-width: 1536px;
  }

  .w-screen-sm {
    width: 640px;
  }

  .w-screen-md {
    width: 768px;
  }

  .w-screen-lg {
    width: 1024px;
  }

  .w-screen-xl {
    width: 1280px;
  }

  .w-screen-2xl {
    width: 1536px;
  }
}

* {
  box-sizing: border-box;
}
