.footer {
  .top-footer {
    @apply grid grid-cols-4
      xl:grid-cols-2
      md:grid-cols-1;

    .cta-block {
      @apply py-16 px-20 flex flex-col items-start
        3xl:px-16
        2xl:px-10;
      background-color: #edece2;

      .button {
        @apply mb-7 font-semibold;
      }

      .cta-label {
        @apply text-sm mb-1.5 inline-block;
        color: #231f20;
      }

      .cta-number {
        @apply text-3xl font-bold;
        color: #231f20;
      }
    }

    .block {
      @apply py-16 px-16 3xl:px-16 2xl:px-10 border-r border-solid last:border-r-0
        xl:last:border-t
        md:border-t md:border-r-0 md:first:border-t-0;
      border-color: rgba(#231f20, 0.25);

      .block-title {
        @apply mb-4 font-bold;
      }

      .block-list-container {
        @apply grid grid-cols-2 gap-x-7;

        .block-list {
          @apply first:mr-4;

          .block-list-item {
            @apply text-sm inline-block mb-2 cursor-pointer hover:underline;
          }
        }
      }
    }
  }

  .bottom-footer {
    @apply text-white flex justify-center py-4 bg-secondary
      lg:flex-wrap lg:px-8
      md:flex-col;

    .text-span {
      @apply block text-sm text-center
        lg:mb-2 lg:flex-1;

      @screen lg {
        min-width: 50%;
      }
    }

    .text-separator {
      @apply inline mx-2
        lg:hidden;
    }

    .text-bold {
      @apply text-sm font-semibold;
    }
  }
}
